body {
    margin: 0;
    min-width:960px;
    text-align: center;
}

header {
    background-color: #222222;
    color: white;
    padding-bottom: 1px;
    margin-bottom: -20px;
}

header nav {
    min-width: 650px;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    font-size: 20px;
    list-style: none;
    margin: 10px auto;
}

header nav ul li a {
    padding: 0 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s;
    color: white;
}

header nav ul li a:hover {
    background-position: -100% 0;
    color: white;
    text-decoration: none;
}

main {
    border-top: 1px solid #A9A9A9;
    background-color: #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #A9A9A9;
}

footer {
    background-color: #000044;
}

footer small {
    color: white;
}

.alert {
    min-width: 450px;
    width: 450px;
    margin: 0 auto 10px;
    padding-top: 30px;
}